@import url(keyframes.css);

* {box-sizing: border-box;}
html {
    scroll-behavior: smooth;
    font-size: 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-image: url(../images/bg.jpeg);
    background-size: cover;
    color: #0b0b0d;
}

.wik {
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 0;
    right: 25px;
    z-index: 15;
    width: 412px;
}

@media screen and (max-width: 960px) {
    .wik {
        width: 100vw;
        right: 0;
    }
}

.wik .navbar {
    transition: .25s;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    font-weight: bold;

    justify-content: space-between;
    align-items: center;
    padding: 0 25px;

    background-color: #0b0b0d;
    color: #efefef;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    height: 35px;
    user-select: none;
    -webkit-user-select: none;

    animation: blinking 1s ease-in-out;
    animation-iteration-count: 3;
}


.wik .navbar:hover {
    transition: .25s;
    background-color: #1f1f1f;
}

.wik .navbar .arrow {
    font-size: larger;
}

.wik .wik-body {
    display: none;
    background-color: #1f1f1f;
    color: #efefef;
    padding: 5px 0px;
    width: 100%;
}

.wik .wik-body .message-space {
    display: flex;
    flex-direction: column;
    align-content: center;
    padding: 0 15px;
    flex: 1;
    overflow-y: auto;
    height: 65vh;
}

.wik .wik-body .message-space::-webkit-scrollbar {
    display: none
}

.wik .wik-body .message-space > .msg {
    padding: 10px;
    margin: 5px 0;
    border-radius: 15px;
    height: auto
}

.wik .wik-body .message-space > .msg span {
    word-wrap: break-word;
}

.wik .wik-body .message-space > .msg:nth-child(odd) {
    background-color: #fe3e2799;
    text-align: left;
    padding-left: 1rem;
}

.wik .wik-body .message-space > .msg:nth-child(even) {
    background-color: #2f2f2f;
    text-align: right;
    padding-right: 1rem;
}

.wik .wik-body .message-space > .msg > img {
    content: "";
    border-radius: 50%;
    object-fit: cover;
    width: 25px;
    height: 25px;
    margin-right: .5rem;
    background-image: url(../images/wik.png);
}

.wik .wik-body .input-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    margin-top: .5rem;
    padding: 10px;
    background-color: #2f2f2f;
}

.wik .wik-body .input-bar .input {
    padding: .25rem .75rem;
    outline: none !important;
    border: none !important;
    border-radius: 15px;
    background-color: #4f4f4f;
    color: #fefefe;
    font-size: large;
    margin-right: 15px;
    flex: 1;
}

.wik .wik-body .input-bar .submit {
    transition: .25s;
    border-radius: 50%;
    background-color: #4f4f4f;
    width: 35px;
    height: 35px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.wik .wik-body .input-bar .submit:hover {
    transition: .25s;
    background-color: #5f5f5f;
}

.msg .film {
    display: flex;
    align-items: center;
    margin: 10px;
    padding: 10px;
    justify-content: space-evenly;
    background-color: #00000050;
}

.msg .film > img {
    width: 90px;
    height: 128px;
    object-fit: cover;
}

.msg .film > ul {
    list-style: none;
}

.msg .film > ul > li:nth-child(1)::before {
    content: "Фильм: ";
    font-weight: bold;
}

.msg .film > ul > li:nth-child(2)::before {
    content: "Выход в прокат: ";
    font-weight: bold;
}

.msg .film > ul > li:nth-child(3)::before {
    content: "Любимый актёр: ";
    font-weight: bold;
}

.tip1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #fefefe;
    position: absolute;
    top: 75px;
    right: 100px;
    z-index: 30;
    padding: 15px;
    background-color: #fe3e27aa;
    border-radius: 50px;
    max-width: 50vw;
    font-size: large;
}

.tip1 > img {
    height: 150px;
}

.tip1 .close {
    position: absolute;
    top: 25px;
    right: 25px;
}

.tip2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #fefefe;
    position: absolute;
    bottom: 200px;
    left: 550px;
    z-index: 30;
    padding: 15px;
    background-color: #fe3e27aa;
    border-radius: 50px;
    max-width: 50vw;
    font-size: large;
}

.tip2 > img {
    height: 150px;
}

.tip2 .close {
    position: absolute;
    top: 25px;
    right: 25px;
}

.tip3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #fefefe;
    position: absolute;
    top: 250px;
    right: 40vw;
    z-index: 30;
    padding: 15px;
    background-color: #fe3e27aa;
    border-radius: 50px;
    max-width: 50vw;
    font-size: large;
}

.tip3 > img {
    height: 150px;
}

.tip3 .close {
    position: absolute;
    top: 25px;
    right: 25px;
}

.tip1 .close:hover, .tip2 .close:hover, .tip3 .close:hover {
    color: #ccc;
}